<!doctype html>
<html lang="en">
	<head>
		<title>상균's Blog - 상세 페이지</title>
	</head>


<body>
	<h1><a href="/">상균's Blog</a></h1>

	<h3>제목: 신기한 제목!!</h3>
	<h4>작성자: 홍길동</h4>
	<h4>내용:</h4>
	<p>
		이런 저런 내용이 들어갈 부분입니다!
		이런 저런 내용은 여기에 이렇게 저렇게 들어갈거에요.
	</p>

	<button type="button" onclick="window.location.href='/update'">수정</button>


</body>
</html>
