<!doctype html>
<html lang="en">
	<head>
		<title>상균's Blog - 상세 페이지</title>
		<!-- jquery import -->
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			crossorigin="anonymous"></script>

		<script>
			$(document).ready(function() {
				show_data()
			})
			function show_data(){
				$.ajax({
					type: "get",
					url: `/api` + window.location.pathname,
					success: function (response) {
						$("#title").text(response["title"])
						$("#writer").text(response["writer"])
						$("#content").text(response["content"])
						$("#update").attr('onclick', `window.location.href='/update/${response["postId"]}'`)
					}
				});
			}

		</script>
	</head>


<body>
	<h1><a href="/">상균's Blog</a></h1>
	<h3>제목: <span id="title">신기한 제목!!</span></h3>
	<h4>작성자: <span id="writer">홍길동</span></h4>
	<h4>내용:</h4>
	<span id="content" style="display:block;">
		이런 저런 내용이 들어갈 부분입니다!
		이런 저런 내용은 여기에 이렇게 저렇게 들어갈거에요.
	</span>

	<button type="button" id="update" onclick="window.location.href='/update'">수정</button>


</body>
</html>
