<!doctype html>
<html lang="en">
	<head>
		<title>상균's Blog - Home</title>
	</head>

<body>
	<h1><a href="/">상균's Blog</a></h1>
	<div style="margin-bottom: 30px;">
		<button type="button" onclick="window.location.href='/write'">글쓰기</button>
	</div>

	<table style="width:500px;">
	<thead>
		<tr>
			<td>제목</td>
			<td>작성자</td>
			<td>작성일자</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/detail">엄청난 제목!</a></td>
			<td>조상균</td>
			<td>21/03/20 19:53</td>
		</tr>

		<tr>
			<td><a href="/detail">신기한 제목!</a></td>
			<td>홍길동</td>
			<td>21/03/20 16:15</td>
		</tr>
	</tbody>
	</table>


</body>
</html>
