<!doctype html>
<html lang="en">
	<head>
		<title>상균's Blog - Home</title>
		<!-- jquery import -->
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


		<script>
			$(document).ready(function() {
				$("#contents").empty();
				show_list();
			})
			function show_list(){
				$.ajax({
					type: "get",
					url: `/api/list`,
					success: function (response) {
						let temp_html = ''
						for (info of response){
						temp_html += `
							<tr>
								<td><a href="/detail/${info["postId"]}">${info["title"]}</a></td>
								<td>${info["writer"]}</td>
								<td>${info["date"]}</td>
							</tr>
							`
						}
						$("#contents").append(temp_html)
					}
				});
			}
		</script>
	</head>

<body>
	<h1><a href="/">상균's Blog</a></h1>
	<div style="margin-bottom: 30px;">
		<button type="button" onclick="window.location.href='/write'">글쓰기</button>
	</div>

	<table style="width:500px;">
	<thead>
		<tr>
			<td>제목</td>
			<td>작성자</td>
			<td>작성일자</td>
		</tr>
	</thead>
	<tbody id="contents">
		<tr>
			<td><a href="/detail">엄청난 제목!</a></td>
			<td>조상균</td>
			<td>21/03/20 19:53:00</td>
		</tr>

	</tbody>
	</table>


</body>
</html>
