<!doctype html>
<html lang="en">

<head>
	<title>상균's Blog - 수정</title>
	<!-- jquery import -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>


</head>


<body>
	<h1><a href="/">상균's Blog</a></h1>

	<h3>제목: <input type="text"></h3>
	<h4>작성자: <input type="text"></h4>
	<h4>비밀번호: <input type="password"></h4>
	<h4>내용:</h4>
	<textarea>
	</textarea>

	<button type="button" onclick="">수정</button>
	<button type="button" onclick="">삭제</button>

</body>

</html>
