<!doctype html>
<html lang="en">

<head>
	<title>상균's Blog - 수정</title>
	<!-- jquery import -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>
	<script>
	$(document).ready(function () {
		get_data()
	})

	function get_data() {
		$.ajax({
			type: "get",
			url: `/api` + window.location.pathname,
			success: function (response) {
				$("#title").attr("value", response["title"])
				$("#writer").attr("value", response["writer"])
				$("#content").text(response["content"])
				$("#update_btn").attr("onclick", `update_data(${response["postId"]})`)
				$("#delete_btn").attr("onclick", `delete_data(${response["postId"]})`)

			}
		});
	}

	function update_data(postId) {
			let title = $("#title").val()
			let writer = $("#writer").val()
			let password = $("#password").val()
			let content = $("#content").val()

			$.ajax({
				type: "PUT",
				url: `/api/update/` + postId,
				data: {
					"title": title,
					"writer": writer,
					"password": password,
					"content": content
				},
				success: function (response) {
					if (response.msg == "success") {
						alert("수정 완료!")
						window.location.href = "/";
					} else if (response.msg == "empty") {
						alert("빈 곳을 확인해주세요!")
					} else {
						alert("비밀번호를 확인해주세요!")
					}
				}
			});
		}

		function delete_data(postId) {
				let password = $("#password").val()

				$.ajax({
					type: "DELETE",
					url: `/api/delete/` + postId,
					data: {
						"password": password,
					},
					success: function (response) {
						if (response.msg == "success") {
							alert("삭제 완료!")
							window.location.href = "/";
						} else {
							alert("비밀번호를 확인해주세요!")
						}
					}
				});
			}
	</script>
</head>


<body>
	<h1><a href="/">상균's Blog</a></h1>

	<h3>제목: <input id="title" type="text"></h3>
	<h4>작성자: <input id="writer" type="text"></h4>
	<h4>비밀번호: <input id="password" type="password"></h4>
	<h4>내용:</h4>
	<textarea id="content" cols="50" rows="10">
	</textarea>

	<button id="update_btn" type="button" onclick="update_data()">수정</button>
	<button id="delete_btn" type="button" onclick="delete_data()">삭제</button>

</body>

</html>
