<!doctype html>
<html lang="en">

<head>
	<title>상균's Blog - 글쓰기</title>
	<!-- jquery import -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous"></script>

	<script>
		function posting(){
			let title = $("#title").val()
			let writer = $("#writer").val()
			let password = $("#password").val()
			let content = $("#content").val()

			$.ajax({
				type: "POST",
				url: `/api/write`,
				data: {
					"title": title,
					"writer" : writer,
					"password" : password,
					"content" : content
				},
				success: function (response) {
					if (response.msg == "success"){
						alert("등록 완료!")
						window.location.href = "/";
					} else {
						alert("빈 곳을 확인 해주세요!")
					}
				}
			});
		}
	</script>
</head>

<body>
	<h1><a href="/">상균's Blog</a></h1>
	<h3>제목: <input type="text" id="title"></h3>
	<h4>작성자: <input type="text" id="writer"></h4>
	<h4>비밀번호: <input type="password" id="password"></h4>
	<h4>내용:</h4>
	<textarea id="content" cols="50" rows="10" ></textarea>
	<button type="submit" onclick="posting()">등록</button>

</body>

</html>
